@import url('./__info/profile__info.css');
@import url('./__image/profile__image.css');
@import url('./__edit/profile__edit.css');
@import url('./__title/profile__title.css');
@import url('./__subtitle/profile__subtitle.css');

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .profile {
    padding: 0 19px;
  }
}

@media screen and (max-width: 720px) {
  .profile {
    flex-direction: column;
    padding: 0;
  }
}