.element__group {
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  width: 20px;
  height: 18px;
  background-image: url('../../../images/element-group.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 0;
}

.element__group:focus {
  outline: none;
}

.element__group:hover {
  opacity: .8;
}